:root { 
--deep_orange_A100:#ff9d8c; 
--indigo_400_99:#6081ab99; 
--blue_A400:#1877f2; 
--amber_500_66:#ffcb1166; 
--gray_600:#818181; 
--gray_601:#767676; 
--gray_400:#bdbdbd; 
--blue_302:#67acff; 
--gray_800:#3f3f3f; 
--blue_54:#d2e6ff; 
--blue_55:#e1e7ff; 
--black_900_0c:#0000000c; 
--gray_200:#eeeeee; 
--blue_50:#e8eefc; 
--indigo_400:#6081ab; 
--bluegray_402:#6f7fa9; 
--indigo_200:#9ca6c3; 
--black_900_aa:#000000aa; 
--bluegray_401:#7a89af; 
--bluegray_400:#818fb3; 
--blue_300:#6baeff; 
--blue_301:#60a8ff; 
--bluegray_100_7f:#d9d9d97f; 
--white_A700:#ffffff; 
--indigo_600:#43588e; 
--red_500_7f:#ea43347f; 
--gray_51:#fafbfc; 
--deep_orange_A200:#ff5f42; 
--gray_50:#f6f7fa; 
--black_900:#000000; 
--black_900_63:#00000063; 
--amber_500_b5:#ffcb11b5; 
--black_902:#000022; 
--black_901:#070707; 
--indigo_A100_4f:#809aff4f; 
--red_500_99:#ea433599; 
--black_900_2a:#0000002a; 
--gray_303:#e0e4ec; 
--gray_700:#646464; 
--gray_301:#dee1eb; 
--gray_302:#d9dee8; 
--gray_500:#aaaaaa; 
--gray_901:#000e2d; 
--blue_800:#004ae2; 
--gray_902:#1d191f; 
--indigo_50:#e6e9fa; 
--gray_900:#111111; 
--black_900_6b:#0000006b; 
--bluegray_100:#d9d9d9; 
--gray_300:#e6e6e6; 
--gray_100:#f5f5f5; 
--bluegray_900:#00194b; 
--indigo_300:#6f74dd; 
--indigo_100:#bdc4d7; 
--bluegray_700:#4c535f; 
--bluegray_500:#596b9b; 
--bluegray_302:#8d98aa; 
--bluegray_301:#8e9bbb; 
--bluegray_100_66:#d9d9d966; 
--bluegray_300:#8593b6; 
--indigo_900:#223a7a; 
--blue_200:#aac3f5; 
--bluegray_901:#343434; 
}